body {
  background-color: #f4f4f4;
}

/* Background image */
.background-image {
  background-color: #ffdfdf;
  /* background-image: url("https://storage.googleapis.com/bananananaba.com/Resources/Pictures/trees.jpg");
  background-size: cover;
  background-position: center center; */
}

/* Text formatting */

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 135%;
}

p {
  font-size: 115%;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 600%;
  }
  h2 {
    font-size: 300%;
  }
  h3 {
    font-size: 150%;
  }
}

/* Icon anchor tags */
.anchor-icon {
  transition: .5s;
}

.anchor-icon:link, .anchor-icon:visited, .anchor-icon:active {
  color: black;
}

.anchor-icon:hover {
  color: red;
}

/* Padding config */
.header-padding {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
}

.main-padding {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

@media only screen and (min-width: 768px) {
  .header-padding {
    padding-top: 10em;
    padding-bottom: 10em;
  }
  .main-padding {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}

/* Modified Containers */

.ui.fluid.container {
  /* Removes margins on responsive design! */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.small-responsive-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .small-responsive-container {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .small-responsive-container {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .small-responsive-container {
    width: 60%;
  }
}
