---
layout: frontpage
title: 21st century workers' power
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="jumbotron frontpage-jumbotron gradient wobblyshadow">
        <h1 class="wobbly-title text-center">The Future of Workers' Power</h1>
      </div>
    </div>
  </div>

  <p class="lead text-center">
    Wobbly is a workplace organising platform, currently under development. We’re creating a space for energetic,
    powerful, and democratic unions to win struggles and grow.
  </p>

  {% assign sections = site.frontpage-sections | sort: 'order' %}
  {% for section in sections %}
    {% include frontpage-section.html title=section.title content=section.content %}
  {% endfor %}

  <div class="frontpage-links">
    <div class="row">
      <div class="col-sm-3 text-center frontpage-link">
        <a href="{{ site.discord_link }}">
          <i class="fab fa-discord fa-5x"></i>
          <span class="frontpage-link-title">Discord</span>
          <p>Chat with us on Discord</p>
        </a>
      </div>
      <div class="col-sm-3 text-center frontpage-link">
        <a href="{{ site.forum_link }}">
          <i class="fab fa-discourse fa-5x"></i>
          <span class="frontpage-link-title">Forum</span>
          <p>Join our forum discussions</p>
        </a>
      </div>
      <div class="col-sm-3 text-center frontpage-link">
        <a href="{{ site.wiki_link }}">
          <i class="fas fa-book fa-5x"></i>
          <span class="frontpage-link-title">Wiki</span>
          <p>Read our wiki</p>
        </a>
      </div>
      <div class="col-sm-3 text-center frontpage-link">
        <a href="{{ site.github_link }}">
          <i class="fab fa-github fa-5x"></i>
          <span class="frontpage-link-title">GitHub</span>
          <p>View the source code</p>
        </a>
      </div>
    </div>
  </div>
</div>
