<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="avsWgcQOWnU6hbUAOG1HDOd5tHuKmR5iHbZEq4xv4RY" />
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />
  <link rel="stylesheet" href="/assets/css/wobbly.css" />
  <link rel="stylesheet" href="/assets/css/inter.css" />
  <link rel="stylesheet" href="/assets/css/montserrat.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#ed2826">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ed2826">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ed2826">

  <title>Wobbly | {{ page.title }}</title>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.wobbly.app"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.cursed.technology/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://stats.cursed.technology/matomo.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->


</head>

<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg wobbly-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/assets/img/logo.png" width="38" height="38" class="d-inline-block align-top navbar-logo"
            alt="Wobbly logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li> -->
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.discord_link }}"><i class="fab fa-discord"></i> Discord</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.github_link }}"><i class="fab fa-github"></i> GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.donate_link }}"><i class="fas fa-donate"></i> Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
