@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif !important;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif !important;
  }
}

body {
  background-color: #f5f8fa;
  color: #182026;
}

/* Text formatting */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ed2826;
  text-decoration: underline;
}

a:hover {
  color: #182026;
}

.wobbly-navbar {
  background-color: #020b0e;
}

.wobbly-navbar a {
  color: white;
  text-decoration: none;
}

.wobbly-navbar a:hover {
  color: #ed2826;
}

.navbar-logo {
  border-radius: 50%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.wobbly-title {
  font-size: 3.5em;
  font-weight: 900;
}

.wobbly-splash {
  background-color: #ffdfdf;
}

.frontpage-section {
  margin: 3em 0;
}

.title-box {
  padding: 1em;
  margin: 1em 0 1.5em 0;
}

.title-box h1,
.title-box h2 {
  font-weight: 700;
}

.frontpage-form {
  text-align: center;
}

.frontpage-links a {
  color: #020b0e;
  text-decoration: none;
}

.frontpage-links a:hover {
  color: #ed2826;
}

.frontpage-link {
  margin-bottom: 3em;
}

.frontpage-link-title {
  display: block;
  font-size: 150%;
}

.post-list-entry {
  margin-bottom: 4em;
}

.post-list-date {
  color: #515455;
}

.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page_number {
  margin: 0 2em;
}

.page-image {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.wobblyshadow {
  box-shadow: 0 18px 0 -6px rgba(0, 0, 0, 0.6);
}

.gradient {
  background: rgb(241, 96, 95);
  background: linear-gradient(131deg, rgba(241, 96, 95, 1) 0%, rgba(237, 40, 38, 1) 100%);
  color: white;
}

.overflow-hidden {
  overflow: hidden;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #ffc3c3;
}
