---
layout: page
title: Blog
---

{% for post in paginator.posts %}

<div class="post-list-entry">
  <div class="post-list-title">
    <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
    <div class="post-list-date">
      {{ post.date | date: "%B %e, %Y" }}
    </div>
  </div>
  <div class="post-list-content">
    {{ post.content | strip_html | truncatewords:75 }}<br />
    <a href="{{ post.url }}">Read more...</a>
  </div>
</div>

{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>